//Colors
$main = #122932
$red  = #DC493A
$blue = #4392F1
$sec  = #95818D
$sam  = #E3C0D3
$yellow = #EEC643
$green = #218380
$orange = #F68E5F
$pink = #E0607E

$ivory = #F4e8c1
$azul = #a0c1b8
$bolivia = #709fb8
$jac = #726a95
$malbec = #351f39


*
  margin 0
  padding 0
  border 0
  text-decoration: none
  transition: all 0.3s ease-in-out

html
    background-color $sam

header
  width: 150px
  flex: 1
  background-color: #fff
  display: flex;
  position: fixed;
  z-index: 3
  box-shadow: 3px 0px 3px 0px rgba(0,0,0,0.3);

  nav
    flex 1
    display: flex;
    width: 150px
    height: 100vh
    justify-content: center;
    flex-direction: column;

    h1
      font-weight: 600
      color $main
      font-size: 21px
      text-align: center;
      padding 30px 0;
      height: 50px

    ul
      position: relative;
      top -55px
      width: 150px
      margin: auto;
      list-style: none;

      li
        margin: 30px 5px;
        text-align: center;
        font-size: 17px

        a
          color $main
          padding: 5px 0

        hr
          position: relative;
          top 5px
          margin: auto;
          width: 0%
          height: 1px
          background-color: $main

      li:hover
        color: $red

        hr
          width: 33%



body
    font-family 'Quicksand', sans-serif
    font-weight 200
    display: flex
    margin-bottom: 300px

.group
  background-color #fff
  flex 1
  flex-basis: 100%
  margin-left: 150px
  z-index: 2

article
    text-align: center;
    background-color $sec
    position relative
    padding 20px
    margin 15px
    color: #fff

    .container
      display: flex;


    h3
      color #fff
      padding: 50px
      font-size 60px
      font-weight: 300

    p
      padding: 15px
      font-size: 19px

a
    text-decoration none

#main
    animation: rainbow 10s alternate infinite

.group
  &:after
      content ""
      display table
      clear both

li
  list-style: none

footer
  height: 300px
  width: calc(100% - 150px);
  left: 150px
  position: fixed;
  bottom: 0
  background-color: $sam
  color: $main

  h3
    font-size: 33px
    padding-top: 15px
    text-align: center;

  .shr
    width: 7%
    height: 3px
    background-color: $main
    margin: 0 auto;
    margin-bottom: 50px

  p
    text-align: center;
    padding-top: 10px
    position: relative;
    bottom -40px
    flex 1

  ul
    width: 100%
    height: 100px
    display: flex;
    font-size: 30px
    justify-content: space-around;

    li
      margin: auto;

      hr
        height: 3px
        width: 33%
        background-color: $main
        margin: 0 auto;

    li:hover:nth-child(1)
      color: #3b5999

      hr
        background-color: #3b5999

    li:hover:nth-child(2)
      color: #FFFC00

      hr
        background-color: #FFFC00

    li:hover:nth-child(3)
      color: #e4405f

      hr
        background-color: #e4405f

    li:hover:nth-child(4)
      color: #55acee

      hr
        background-color: #55acee



//Figure

figure
    margin 30px
    flex 3


figure:hover
  img
    filter: blur(3px) grayscale(20%);

  figcaption
    transform: translateY(-100px);
    position: relative;
    font-size: 3em
    color: #fff
    transition: all 0.3s ease-in-out
    text-shadow: 3px 3px rgba(0, 0, 0, 0.3);

  hr
    transition: all 0.5s ease-in-out
    background-color: #fff
    width: 7%
    margin: auto;
    transform: translateY(-70px);
    height: 3px

figure
  figcaption
    line-height: 0px
    font-size: 0px
hr
  width: 0px


@keyframes rainbow
  0%
    background-color: $blue
  20%
    background-color: $red
  40%
    background-color: $orange
  60%
    background-color: $yellow
  80%
   background-color: $green
  100%
    background-color: $pink


@media (max-width: 1350px)
  article
    .container
      display: block;

  img
    width: 50%
